/* global reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* general body design */
body {
    font-family: 'Segoi UI', sans-serif;
    background: linear-gradient(135deg, #a1c4fd 0%, #c2e9fb 100%);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* for header design */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    background: transparent;
}

.logo-section {
    font-weight: bold;
    font-size: 1.5rem;
    color: #1a2a6c;
}

nav a {
    margin-left: 30px;
    text-decoration: none;
    color: #333;
    font-weight: 500;
}

/* hero/main design */
.hero{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
}

h1 {
    font-size: 3.5rem;
    color: #000;
    margin-bottom: 10px;
}

.hero p {
    max-width: 600px;
    margin-bottom: 30px;
    line-height: 1.6;
}